src/MasterNet.Domain/bin/
src/MasterNet.Domain/obj/
src/MasterNet.Persistence/bin/
src/MasterNet.Persistence/obj/
src/MasterNet.WebApi/bin/
src/MasterNet.WebApi/obj/
src/MasterNet.Persistence/LocalDatabase.db
src/MasterNet.Application/bin/
src/MasterNet.Application/obj/
src/MasterNet.Application/bin/
src/MasterNet.Infrastructure/bin/
src/MasterNet.Infrastructure/obj/
